


:root{
--cor-principal:
--cor-secundaria:
--botao-destaque:
--cor-de-fundo:
}


*{
 margin:0;
 padding:0;

}
.principal{

 background-color: ;
   background-image: url;
background-size:content;
background-repeat:no-repeat;
text-align:center;
font-size: 23px;

}
.container{
   height: 100vh;
   display: grid;
   grid-template-columns: 50% 50%;
   color:var(--cor-principal)
}
.container--botao{
   background-color: var()
   color:var()
   border-style: dotted;

}


